body.body-sobre{
  width: 100%;
  height: 100%;
  background-image: url('./../../resources/images/imagem.jpg');
  background-size: cover;

}

#oquesomos{
  width:60%;
  margin:0px auto; 
  border-radius: 6px;
  
}
legend{
  text-align: center;
  font-size: 19px;
  font-style: normal;
  color:#ffff;
}
.texto-sobre{
  font-size: 17;
  color:#ffff;
  font-style: initial;
  font-weight: 600;
}
.body-sobre input[type="button"]{
  background-color: blue;
  color: #ffff;
  width: 100px;
  height: 30px;
  border-color: blue;
  position: absolute;
   top:85%; 
   left:62%;
   display: inline-block;
  
}

@media screen and (max-width: 760px) {
  #oquesomos{
    width: 70%;
  }
}