* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.conteiner input[type="email"],.conteiner input[type="password"] {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 5px;
}

.conteiner input[type="submit"]{
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    display: block;
    width: 30%;
}

article {
    display: flex;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    justify-content: start;
    margin-bottom: 15px;
    cursor: pointer;
    margin-left: 15px;
}
article .item-img {
    width: 30%;
}

article .item-img img {
    width: 80%;
    padding: 5px;
}


article .conteudo-texto-item {
    width: 70%;

    overflow: hidden;
    text-overflow: ellipsis;
}

article .conteudo-texto-item p {
    font-size: 15px;
    color: #c7c7c7;
    margin: 5px;
    position: relative;
}

article .conteudo-texto-item h3 {
    font-size: 25px;
    margin: 5px;
    margin-bottom: 15px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    margin-top: 10px;
    padding: 15px;
    justify-content: center;
    align-items: flex-end;
    background-color: blue;
    color: white;
    text-align: center;
}

header{
    justify-content: space-between;
    padding: 15px;
    background-color: blue;
    color: white;
}

header span {
    font-size: 25px;
}

header ul {
    display: flex;
    float: right;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

header ul li a:hover {
    background-color: white;
    color: black;
}

.conteiner-home {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.conteiner-home main {
    background-color: #e7e3e3;
    width: 60%;
    height: 100%;
    margin: 10px 5px 15px 10px;
    padding: 5px;
    
}

.conteiner-home aside {
    background-color: #e7e3e3;
    width: 35%;
    height: 50vh;
    margin: 10px 10px 15px 0px;
    padding: 5px;
}

.conteiner-home .titulo-main {
    padding: 5px;
    color: black;
    font-weight: 600;
}