<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sobreestilo.css">
    <title>Sobre</title>
</head>
<body>
    <h1 id="cabecalho">Dentro da informação</h1>
        
      <fieldset id="oquesomos">
         <legend>O que somos?</legend>
            <p>Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa. Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor, que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais. Seu tamanho é variável.

                “Conjunto de palavras e frases articuladas, escritas sobre qualquer suporte”.[1]
                
                “Obra escrita considerada na sua redação original e autêntica (por oposição a sumário, tradução, notas, comentários, etc.)”.[2]
                
                "Um texto é uma ocorrência linguística, escrita ou falada de qualquer extensão, dotada de unidade sociocomunicativa, semântica e formal. É uma unidade de linguagem em uso."[3]
                
                O interesse pelo texto como objeto de estudo gerou vários trabalhos importantes de teóricos da Linguística Textual, que percorreram fases diversas cujas características principais eram transpor os limites da frase descontextualizada da gramática tradicional e ainda incluir os relevantes papéis do autor e do leitor na construção de textos.
                
                Um texto pode ser escrito ou oral e, em sentido lato, pode ser também não verbal.
                
                Texto crítico é uma produção textual que parte de um processo reflexivo e analítico gerando um conteúdo com crítica construtiva e bem fundamentada.
                
                Em artes gráficas, o texto é a parte verbal, linguística, por oposição às ilustrações.</p>
      </fieldset> 
       <input type="button" value="Voltar" id="botao" onClick="history.go(-1)">
       <a  id="central"href="">Central ajuda</a>
         <br>
       <a  id="contato" href="">Contato</a>
</body>
</html>